.flyout-container
  background: $darkgray
  color: $lightgray
  position: absolute
  z-index: 99
  max-height: 0
  width: 100%
  overflow: hidden
  transition: max-height .6s ease

  &.flyout-visible
    max-height: 9999px

  ul
    list-style: none
    margin: 0
    padding: 0
  
  > ul
    width: column-width(6)
    position: relative
    margin: 48px auto
    display: flex
    justify-content: space-between

    .column
      width: column-width(2) 
      text-align: center
      font-size: 22px
      line-height: 48px

      &.last
        // NOTE: This contains a column that is not visible in the design
        display: none
    
    a:hover
      color: $orange
  
  .program-table
    width: column-width(6)
    position: relative
    margin: 48px auto
    border-spacing: 1px
    empty-cells: hide
    table-layout: fixed

    thead
      @include interstate-condensed()
      font-size: 24px
      line-height: 42px
      
      th
        text-align: center
        text-transform: uppercase
        background: none

        &.is-current-day
          color: $orange

    th,
    td
      vertical-align: top
      border-radius: 2px

      &:first-child
        width: 50px
        text-align: center

    tbody
      // TODO: Figure this out in JavaScript and hide it properly
      tr:nth-last-child(1),
      tr:nth-last-child(2),
      tr:nth-last-child(3),
      tr:nth-last-child(4)
        display: none

      td
        padding: 4px
        background: $gray
        font-size: 12px

        &.is-on-air
          background: $orange
          color: #fff