// grid variables
$col-width: 120px;
$col-gap: 40px;

// some mixins that might keep things more dry

@mixin interstate-light () {
	font-family: 'InterstateLight', Arial, "sans-serif";
	font-style: normal;
	font-weight: normal;
}

@mixin interstate-bold () {
	font-family: 'Interstate', Arial, 'sans-serif';
	font-weight: bold;
}

@mixin interstate-condensed () {
	font-family: 'InterstateCondensed', Arial, 'sans-serif';
	font-style: normal;
	font-weight: bold;
}

// you can check out https://projects.invisionapp.com/d/main/default/?origin=v7#/console/16229932/347098337/inspect?requestInspectAccess
// to see why i picked 6 columns and why the sizes are defined as above
@function column-width($cols: 6) {
	@return $col-width * $cols + $col-gap * ($cols - 1);
}

@function column-width-extended($cols: 6) {
	@return $col-gap * 2 + $col-width * $cols + $col-gap * ($cols - 1);
}

// reusable for icons / icons with buttons
.has-icon {
	&::before {
		content: '?';
		padding-right: .3em;
		display: inline-block;
    vertical-align: middle;
    line-height: 1em;
	}
}

@mixin icon($icon-name) {
	@extend .has-icon;
	&::before {
		content: url('../assets/#{$icon-name}.svg');
	}
}

.button {
	@include interstate-condensed();
	display: inline-block !important;
	height: 44px !important;
	font-size: 18px !important;
	line-height: 44px !important;
	padding: 0 18px;
	border-radius: 2px;
	text-transform: uppercase;

	&.orange {
		background: $orange;
	}

	// NOTE: Should we do this like this?
	&.icon-podcast {
		@include icon('desktop/ico-podcast-white');
	}
}

// TODO: check if needed
*, *::before, *::after,
:not(.jsb_rbbnav), :not(jsb_rbbnav *), :not(.jsb_rbbnav ::before), :not(.jsb_rbbnav ::after) {
	box-sizing: border-box;
}

// TODO: check if needed
html {
	@include interstate-light();
	line-height: 1.5;
}

body {
	color: $black;
}

strong {
	@include interstate-bold();
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.boxHeadline {
	@include interstate-light();
}

.manualteaserPicture {
	position: relative;

	.pictsrc {
		// picture sources
		position: absolute;
		font-size: 60%;
		color: #fff;
		text-shadow: 0 0 1px rgba(0,0,0,.2);
		bottom: 1em;
		right: 1em;
	}

	& > img {
		width: 100%;
	}
}


// rbb navigation, header and top navigation
.header {
	background-color: $lightgray;
}

#containerRbb_subHead {
	max-width: column-width(6); // replaced 'width' with 'max-width' (see also below)
	position: relative;
	margin: 0 auto;
	height: 90px;
}

#headerimage {
	margin-top: 26px;
}

.containerNavigationMain {
	max-width: column-width(6);
	position: relative;
	margin: 0 auto;
	display: flex;
	height: 80px;
	align-items: center;
}

.navigationMain {
	@include interstate-condensed();
	max-height: 80px;
	flex-grow: 1;

	.level1 {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 44px;

		a {
			font-size: 30px;
			height: 44px;
			line-height: 44px;
			display: block;
		}

		li {
			text-transform: uppercase;
			margin-right: 35px;
			font-weight: bold;
			font-size: 32px;
			margin-top: -7px;

			&:hover,
			&.selected,
			&.flyout-visible {
				position: relative;
				color: $orange;
			}

			&.selected::after {
				// draw the white arrow head
				position: absolute;
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				background: white;
				margin-left: 50%;
				margin-top: 5px;
				transform: translateX(-50%) rotate(45deg);
				z-index: 10;
			}

			// the last two links are special links; you could also address them with the
			// title elements, but have different margins and all and that makes it tricky
			&.intermediate:nth-last-child(1),
			&.intermediate:nth-last-child(2) {
				margin-right: 22px;
				
				a {
					@extend .button;
					font-size: 20px;
					padding: 0 18px;
					color: $orange;
					border-radius: 2px;
					border: 1px solid $orange;
				}
			}

			&.intermediate:nth-last-child(3) {
				// push last two elements to the side
				flex-grow: 1;
			}

			[title='Events'],
			[title='Team'] {
				display: none;
			}
		}
	}
}

// information about current song in top right corner
.livestream {
	display: grid;
	grid-template:
	 "live playlistLink" 1fr
	 "live currentSong"   1fr /
	 1fr   130px;
	height: 44px;

	.jetzt {
		grid-area: live;

		a {
			text-transform: uppercase;
			font-weight: bold;
			background-color: $orange;
			color: white;
			font-size: 20px;
			display: block;
			@extend .button;
			@extend .has-icon;
			@include interstate-condensed();
			@include icon('desktop/ico-live-nav');
		}
	}

	.nowonair,
	.jetztplaylist {
		font-size: 10px; 
		margin-left: 20px;

		* {
			white-space: nowrap;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		p {
			margin: 0;
		}
	}

	.jetztplaylist {
		grid-area: playlistLink;

		a {
			color: $orange;
			line-height: 14px;
		}
	}

	.nowonair {
		grid-area: currentSong;
	}

	// TODO: This is added by some script and should probably be removed properly
	#slideWrapper {
		transition: none !important;
		transform: none !important;
	}
}

// main section grid
.containerMain,
.containerCenter {
	// I'm sorry but this is not my fault
	> .containerContent,
	> .doctypesendeplatz.intermediate,
	> .doctypeteaser.layoutstandard.intermediate {
		> div {
			max-width: column-width(6);
			position: relative;
			margin: 0 auto;
		}
	}
}

// suppresses rbb nav style
// TODO: remove
#searchbox_result{
	visibility: hidden;
}

.intermediate.teaserbox .boxhead .boxHeadline {
	@include interstate-condensed();
}

.footer {
	background-color: $gray;
	color: white;
	padding: 2em 0 3em;

	.footer-columns {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
		columns: 4;
		column-gap: $col-gap;

		.doctypeteaser.layoutstandard.teaserbox {
			// reset width of each column
			width: auto;
			background: $gray;
			padding: 0;
		}
	}

	.boxHeadline {
		color: $orange;
		text-transform: uppercase;
	}
}

// big hero section on "sendungsseite" and "playlist"
.heroSection {
	background: $lightgray;
	color: $gray;
	position: relative;
	padding: 56px 0;

	// these are the things that paint everything grey left and right
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100vw;
		height: 100%;
		background: $lightgray;
		z-index: -1;
		top: 0
	}

	&::before {
		left: 0;
	}
	
	&::after {
		right: 0;
	}
}

.heroSection.showDescription {
	$right-col: $col-width * 2 + $col-gap;

	display: grid;
	grid-template:
		"date      picture"     0fr
		"title     picture"     0fr
		"subtitle  picture"     0fr
		"buttons   description" 0fr /
		1fr        $right-col;
	grid-column-gap: $col-gap;

	// NOTE: This is specific to a program's detail page while the whole hero 
	// thingy containing this might not be
	.containerIcons {
		color: $orange;
		grid-area: date;

		.begin,
		.timeicon {
			display: inline-block;
		}

		.weekday::after {
			content: '. '
		}
		
		.begin {
			margin-right: .6em;
		}

		+ .TitleText {
			margin-top: 11px;
		}

	}

	.TitleText {
		grid-area: title;
		padding-top: 10px;
		margin: 0;
		font-size: 56px;
		line-height: 64px;
		@include interstate-bold();
	}

	.sendeplatzShortText {
		// TODO: If we're strictly following the layout we need interstate light condensed for this
		grid-area: subtitle;
		align-self: end;
		margin: 0;
		font-size: 36px;
		line-height: 42px;
		@include interstate-light();
	}

	.picture {
		grid-area: picture;
		align-self: end;
	}

	.linkedMods {
		&:first-line {
			@include interstate-bold;
		}
		grid-area: description;
		padding-top: 10px;
		margin: 0;
	}

	.streamfilter {
		padding-top: 20px;
		grid-area: buttons;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				@include interstate-condensed;
				@extend .button;
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
				background-color: $orange;
				display: inline-block;
			}

			#wortbeitraege a {
				// FIXME: Icon missing
				// @include icon('desktop/ico-playlist-white');
			}

			#musiktitel a {
				// FIXME: Icon doesn't have correct position & size
				// @include icon('desktop/ico-playlist-white');
			}
		}
	}
}

// big images with text directly below navigation
.layouttopteaser_textbild {
	position: relative;
	min-height: 360px;
	background: $darkgray;

	.manualteaserPicture {
		img {
			// TODO: See if the pictures' resolution is high enough
			width: 100%;
			height: auto;
			display: block;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(270deg, change-color($darkgray, $alpha: 0.8), transparent);
			z-index: 2
		}

		// FIXME: Remove everything below once we changed the image; this is just so it looks more
		// like the preview
		overflow: hidden;
		img {
			transform: scale(1.2) translateX(-20px);
		}
	}

	.pictsrc {
		position: absolute;
		font-size: 70%;
		bottom: 1em;
		right: 1em;
		color: #fff;
		text-shadow: 0 0 2px rgba(0,0,0,.5);
	}

	.textlayer {
		// this box should end to the right as if it has 920px (6 columns),
		// but has space for only 4 columns of text
		color: #fff;
		position: absolute;
		z-index: 3;
		width: column-width(3);
		left: 50%;
		top: 50%;
		transform: translateX(column-width(6) / 2 - column-width(3)) translateY(-50%);

		font-size: 36px;
		line-height: 40px;

		h2, a, p {
			font-size: inherit;
			line-height: inherit;
			display: inline;
			margin: 0;
		}

		h2 {
			@include interstate-condensed();
		}

		p {
			@include interstate-light();
		}

		.mehrlink {
			display: block; // forces line break
			// hide previous text
			font-size: 0;
			width: 20px;
			color: transparent;
			white-space: nowrap;

			&::before {
				// Add 'Zum Beitrag' button
				@include interstate-condensed();
				content: 'Mehr'; // NOTE: The text is different in the invision preview but this is a compromise
				background: $orange;
				text-transform: uppercase;
				display: inline-block;
				line-height: 40px;
				height: 40px;
				font-size: 20px;
				padding: 0 24px;
				color: white;
				border-radius: 2px;
				margin-top: 24px;
			}
		}
	}

	&.textwide .textlayer {
		width: column-width-extended(4);
		transform: translateX(column-width-extended(4) / -2) translateY(-50%);
	}

	.boxhead {
		display: none;
	}
}


// full-width content separators reappearing on every page
.doctypeteaser.intermediate.teaserbox {
	padding: 48px 0 96px;

	&:nth-of-type(odd) {
		background-color: $lightgray;
	}

	&:nth-of-type(even) {
		background-color: #fff;
	}

	&.layoutblack {
		// Bspw: "Weitere radioeins Inhalte" auf der Podcastseite
		background-color: $darkgray;
		color: $lightgray;
	}
}

.doctypeteaser.layoutblack.teaserbox {
	padding: 48px 0 96px;
}