
// grid variables
$col-width: 120px;
$gutter-width: 40px;

// TODO: check if needed
html {
	font-family: 'InterstateLight', Arial, "sans-serif";
	font-weight: 300;
	line-height: 1.5;
}

strong {
	font-family: 'Interstate', Arial, 'sans-serif';
	font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}

@mixin grid ($cols: 6) {
	width: $col-width * $cols + $gutter-width * ($cols - 1);
}

// basic grid
.containerContent {
	@include grid(6);
	position: relative;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}


// suppresses rbb nav style
// TODO: remove
#searchbox_result{
	visibility: hidden;
}