
// grid variables
$col-width: 120px;
$gutter-width: 40px;

// some mixins that might keep things more dry

@mixin interstate-light () {
	font-family: 'InterstateLight', Arial, "sans-serif";
	font-style: normal;
	font-weight: normal;
}

@mixin interstate-bold () {
	font-family: 'Interstate', Arial, 'sans-serif';
	font-weight: bold;
}

@mixin interstate-condensed () {
	font-family: 'InterstateCondensed', Arial, 'sans-serif';
	font-style: normal;
	font-weight: bold;
}

@mixin grid ($cols: 6) {
	width: $col-width * $cols + $gutter-width * ($cols - 1);
}

@mixin grid-extended ($cols: 6) {
	width:  $gutter-width * 2 + $col-width * $cols + $gutter-width * ($cols - 1);
}

// TODO: check if needed
html {
	@include interstate-light();
	line-height: 1.5;
}

strong {
	@include interstate-bold();
}

a {
	text-decoration: none;
	color: inherit;
}

// basic grid
.containerContent {
	@include grid(6);
	position: relative;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}


// suppresses rbb nav style
// TODO: remove
#searchbox_result{
	visibility: hidden;
}