// some pages use a slim layout where the grid doesn't spread over all six
// columns in the grid; by defining them here we have a nice go to place
// where we can just add the boy-classes that identifies these pages 🥧

// TODO: Playlist & Sendungsseite, beide .doctypeuebersicht??
body.doctypetermin { // Events
  .containerCenter {
    .containerContent {
      font-size: 20px;
      margin-top: 3em;
      max-width: column-width-extended(4);
      margin: 0 auto;

      .picture img {
        width: 100%;
        height: auto;
      }

      .begin {
        color: $orange;
      }

      h2.TitleText {
        margin-block-start: 0;
        margin-block-end: 0;
      }

      h2.SubTitleText {
        margin-block-start: 0;
        font-weight: lighter;
      }

      .manualteaserpicture {
        margin-bottom: 2em;
            
        img {
          width: 100%;
        }
      }
    }
  }
}