
// grid variables
$col-width: 120px;
$col-gap: 40px;

// some mixins that might keep things more dry

@mixin interstate-light () {
	font-family: 'InterstateLight', Arial, "sans-serif";
	font-style: normal;
	font-weight: normal;
}

@mixin interstate-bold () {
	font-family: 'Interstate', Arial, 'sans-serif';
	font-weight: bold;
}

@mixin interstate-condensed () {
	font-family: 'InterstateCondensed', Arial, 'sans-serif';
	font-style: normal;
	font-weight: bold;
}

// you can check out https://projects.invisionapp.com/d/main/default/?origin=v7#/console/16229932/347098337/inspect?requestInspectAccess
// to see why i picked 6 columns and why the sizes are defined as above
@function column-width($cols: 6) {
	@return $col-width * $cols + $col-gap * ($cols - 1);
}

@function column-width-extendend($cols: 6) {
	@return $col-gap * 2 + $col-width * $cols + $col-gap * ($cols - 1);
}

// reusable for icons / icons with buttons
.button {
	height: 44px;
	line-height: 44px;
	padding: 0 18px;
	border-radius: 2px;
}

.has-icon {
	&::before {
		content: url("../assets/desktop/ico-live-nav.svg");
		padding-right: .3em;
		display: inline-block;
    vertical-align: middle;
    line-height: 1em;
	}
}

// TODO: check if needed
*, *::before, *::after,
:not(.jsb_rbbnav), :not(jsb_rbbnav *), :not(.jsb_rbbnav ::before), :not(.jsb_rbbnav ::after) {
	box-sizing: border-box;
}

// TODO: check if needed
html {
	@include interstate-light();
	line-height: 1.5;
}

body {
	color: $black;
}

strong {
	@include interstate-bold();
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

// rbb navigation, header and top navigation
.header {
	background-color: $lightgray;
}

#containerRbb_subHead {
	width: column-width(6);
	position: relative;
	margin: 0 auto;
	height: 90px;
}

#headerimage {
	margin-top: 26px;
}

.containerNavigationMain {
	width: column-width(6);
	position: relative;
	margin: 0 auto;
	display: flex;
	height: 80px;
	align-items: center;
}

.navigationMain {
	@include interstate-condensed();
	max-height: 80px;
}

.navigationMain {
	flex-grow: 1;

	.level1 {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 44px;

		a {
			font-size: 30px;
			height: 44px;
			line-height: 44px;
			display: block;
		}

		li {
			text-transform: uppercase;
			margin-right: 35px;
			font-weight: bold;
			font-size: 32px;

			&.selected {
				position: relative;
				color: $orange;

				// draw the white arrow head
				&::after {
					position: absolute;
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background: white;
					margin-left: 50%;
					margin-top: 5px;
					transform: translateX(-50%) rotate(45deg);
					z-index: 10;
				}
			}

			// the last two links are special links; you could also address them with the
			// title elements, but have different margins and all and that makes it tricky
			&.intermediate:nth-last-child(1),
			&.intermediate:nth-last-child(2) {
				margin-right: 22px;
				
				a {
					@extend .button;
					font-size: 20px;
					padding: 0 18px;
					color: $orange;
					border-radius: 2px;
					border: 1px solid $orange;
				}
			}

			&.intermediate:nth-last-child(3) {
				// push last two elements to the side
				flex-grow: 1;
			}

			[title='Events'],
			[title='Team'] {
				display: none;
			}
		}
	}
}

// information about current song in top right corner
.livestream {
	display: grid;
	grid-template:
	 "live playlistLink" 1fr
	 "live currentSong"   1fr /
	 1fr   130px;
	height: 44px;

	.jetzt {
		grid-area: live;

		a {
			text-transform: uppercase;
			font-weight: bold;
			background-color: $orange;
			color: white;
			font-size: 20px;
			display: block;
			@extend .button;
			@extend .has-icon;
			@include interstate-condensed();
		}
	}

	.nowonair,
	.jetztplaylist {
		font-size: 10px; 
		margin-left: 20px;

		* {
			white-space: nowrap;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		p {
			margin: 0;
		}
	}

	.jetztplaylist {
		grid-area: playlistLink;

		a {
			color: $orange;
			line-height: 14px;
		}
	}

	.nowonair {
		grid-area: currentSong;
	}

	// TODO: This is added by some script and should probably be removed properly
	#slideWrapper {
		transition: none !important;
		transform: none !important;
	}
}

// main section grid
.containerContent,
.doctypesendeplatz.intermediate,
.doctypeteaser.layoutstandard.intermediate {
	width: column-width(6);
	position: relative;
	margin: 0 auto;
}

// suppresses rbb nav style
// TODO: remove
#searchbox_result{
	visibility: hidden;
}

.footer {
	background-color: $gray;
	color: white;
	padding: 2em 0 3em;

	.footer-columns {
		width: column-width(6);
		position: relative;
		margin: 0 auto;
		columns: 4;
		column-gap: $col-gap;

		.doctypeteaser.layoutstandard.teaserbox {
			// reset width of each column
			width: auto
		}
	}

	.boxHeadline {
		color: $orange;
		text-transform: uppercase;
	}
}