.containerCenter {
	.containerIcons {
		display: none;
	}

	.loungeContainer {
		background-color: $darkgray;
		color: white;	

		> * {
			max-width: column-width(6);
			margin: 0 auto;
		}

		.roofLine {
			padding: 1.5em 0 0.5em;
			@include interstate-condensed;
			text-transform: uppercase;
		}

		.playerdownload {
			padding-bottom: 3em;

			img {
				width: 100%;
			}
		}
	}

	.containerIcons {
		max-width: column-width-extended(4);
		margin: 0 auto;

		.begin, .sendeplatzRefTitle {
			color: $orange;
		}

		#socialshareprivacy, .iconList {
			display: none !important;
		}
	}
}

.containerRight {
	max-width: column-width-extended(4);
	margin: 0 auto;

	.column .layouteinspaltig {
		.boxHeadline {
			font-weight: bold;
			margin-top: 3em;
		}
	}
}

.articlesContList {
	.doctypebildergalerie {
		.slider {
			margin: 3em 0 4em !important;
		}
	}

	.layoutstandard .textBlock > p > a {
		color: $orange;
	}

	.text {
		padding-top: 2.5em;

		.begin {
			color: $orange;
		}
	}
}

#teaserListCenter_teaserbox .doctypesendestrecke {
	display: grid;
	grid-template:
		'sendestreckeRoofLine .'
		'sendestreckeTitle .'
		'sendestreckePic sendestreckeText';
	margin-bottom: 3em;

	.manualteaserRoofLine {
		grid-area: sendestreckeRoofLine;
		color: $orange;
		font-size: 16px;
		margin-block-start: unset;
		margin-block-end: unset;
	}

	.manualteaserTitle {
		grid-area: sendestreckeTitle;
		margin-block-start: unset;
		margin-block-end: unset;
	}

	.manualteaserPicture {
		grid-area: sendestreckePic;
	}

	.manualteaserShortText {
		margin-block-start: unset;
		margin-block-end: unset;
		font-size: 18px;
		line-height: 24px;
		grid-area: sendestreckeText;
		margin-left: 1.5em;
	}
}

.containerRight .layoutcalendar,
.containerRight .doctypeuebersicht {
	display: none;
}

.teaserbox .internallink .teasertext > a,
.archiveDisclaimer {
	color: $orange;
}

.archiveDisclaimer {
	padding-top: 3em;
}

.teaserbox .internallink {
	padding-top: 2em;
	.teasertext .textTitle {
		margin-block-end: 0;
	}
}