.containerCenter {
	.teaserbox.layoutstandard.doctypeteaser,
	.teaserbox.layoutblack_short.doctypeteaser {
		> * {
			max-width: column-width(6);
			position: relative;
			margin: 0 auto;
		}
	}
}

// TODO include again if it's clear how this section should look like ;-)
#middleColumnList_teaserbox_0 {
	> *:not(.boxlinklist):not(.boxhead) {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
		.doctypeteaser.intermediate.teaserbox {
			background-color: $darkgray;
		}
	}
}
