.layouttopteaser_texticon {
  background: $darkgray;

  > .layouttopteaser_texticon {
    display: grid;
    position: relative;
    grid-template:
      'icon description' auto
      / 138px auto;
    grid-column-gap: $col-gap * 1.5;
    width: column-width(6);
    margin: 0 auto;
    padding: 72px 0;
  }

  .manualteaserIcon {
    width: 138px;
    height: 138px;
  }

  .textlayer {
    // this box should end to the right as if it has 920px (6 columns),
    // but has space for only 4 columns of text
    color: #fff;

    font-size: 32px;
    line-height: 40px;

    h2, a, p {
      font-size: inherit;
      line-height: inherit;
      display: inline;
      margin: 0;
    }

    h2 {
      @include interstate-bold();

      &:after {
        content: ':'
      }
    }

    p {
      @include interstate-light();
    }
  }

  .boxhead {
    display: none;
  }
}

.containerMain {
  .doctypeteaser.intermediate {
    .boxhead .boxHeadline {
      @include interstate-condensed();
      max-width: column-width(6);
      position: relative;
      margin: 0 auto 36px;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 40px;
    }
  }
}

.doctypeteasermiddlegray {
  background: $lightgray;
}

h2.manualteaserTitle {
  @include interstate-bold();
  margin: 12px 0;
  font-size: 20px;

  .manualteaserSubTitle {
    @include interstate-light();
  }
}

.layouttext_info {
  max-width: column-width-extended(4);
  position: relative;
  margin: 0 auto;

  .manualteaserTitle,
  .manualteaserShortText {
    display: inline;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
  }
}

.manualteaserActionButton {
  margin-top: 40px;
}

// single podcast site as appearing for "Hörbar Rust"
.containerCenter {
  .doctypeaudio.layoutarchiv {
    max-width: column-width-extended(4);
    position: relative;
    margin: 60px auto;

    .manualteaserDateTime {
      color: $orange;
      font-size: 14px;
    }
    
    .manualteaserTitle {
      font-size: 32px;
      line-height: 42px;
      margin: 0 0 $col-gap / 3;
    }

    .manualteaserPicture {
      width: $col-width + $col-gap;
      float: left;
      position: relative;
      top: 6px;

      // TODO: This might be weird; some episodes have an image and some don't and now they're not all in one line
      + .manualteaserShortText {
        margin-left: $col-width + 2 * $col-gap;
      }
    }

    .manualteaserShortText {
      margin-top: 0;
      margin-bottom: 0;
    }

    .bulletIconContainer {
      display: none;
    }

    .killfloat {
      clear: both;
    }

    .playerdownload {
      margin-top: $col-gap;
    }
  }
}

// TODO: audio player
// .playerdownload {
//   .player.audio {
//     background: $darkgray;
//     border-radius: 2px;
//     position: relative;
//     height: 60px;
//     color: #fff;

//     &:before {
//       content: '?';
//       display: block;
//       position: absolute;
//       height: 60px;
//       width: 60px;
//       left: 0;
//       border-radius: 2px;
//       background: $orange;
//     }
//   }
// }
