// Customize Slick Slider (https://github.com/kenwheeler/slick/)

.slick-custom-dots-light {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	margin-top: 2em;

		li {
			margin: 0 10px;
		}

		li.slick-active button {
			background-color: $orange;
		}

		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			cursor: pointer;

			border: none;
			border-radius: 100%;
			background-color: white;

			text-indent: -9999px;
		}
}

.slick-custom-dots-dark {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	margin-top: 2em;

	li {
		margin: 0 10px;
	}

	li.slick-active button {
		background-color: $orange;
	}

	button {
		display: block;
		width: 10px;
		height: 10px;
		padding: 0;
		cursor: pointer;

		border: none;
		border-radius: 100%;
		background-color: $black;

		text-indent: -9999px;
	}
}

.layoutstandard {
	.layout1spaltig_buehne_slider,
	.layout3spaltig_buehne_slider {
		.slick-prev:before {
			content: url('../assets/desktop/slider-arrow-bwd-dark.svg');
		}
		.slick-next:before {
			content: url('../assets/desktop/slider-arrow-fwd-dark.svg');
		}
	}
} 

.layoutblack {
	.layout1spaltig_buehne_slider, 
	.layout3spaltig_buehne_slider {
		.slick-prev:before {
			content: url('../assets/desktop/slider-arrow-bwd.svg');
		}
		.slick-next:before {
			content: url('../assets/desktop/slider-arrow-fwd.svg');
		}
	}
}

.layoutblack .layout1spaltig_buehne_slider, 
.layoutblack .layout3spaltig_buehne_slider,
.layoutstandard .layout3spaltig_buehne_slider {
	.slick-prev:before, .slick-next:before {
		font-size: 54px !important;
	}
	
	.slick-prev {
		left: -75px;
	}
	
	.slick-next {
		right: -75px;
	}
	
	.slick-prev, .slick-next {
		top: calc(50% - 80px);
		z-index: 4000;
		width: 40px;
	}	
}

// "Der Tag auf Radioeins"
.layoutbuehne_1_1_white, 
.teaserbox_videopage .layout1spaltig_buehne_slider,
.layoutbuehne_1_1_black {
	.slick-prev {
    left: 0;
	}

	.slick-next {
  	right: 18px; // equals the width of the arrow element
	}

	.slick-prev:before {
		content: url(../assets/desktop/ico-arrow-bwd.svg);
	}

	.slick-next:before {
		content: url(../assets/desktop/ico-arrow-ffwd.svg);
	}
}

.layoutbuehne_1_1_white, 
.layoutbuehne_1_1_black {
	.slick-prev, .slick-next {
		top: 10.5%;
	}
}

.teaserbox_videopage .layout1spaltig_buehne_slider {
	.slick-prev, .slick-next {
		top: 33%;
	}
}

@media only screen and (max-width: 1024px) {
	.layoutblack .layout1spaltig_buehne_slider {
		.slick-prev {
			left: 1%;
		}
		
		.slick-next {
			right: 1%;
		}
	}

	// see: https://github.com/kenwheeler/slick/issues/582#issuecomment-61882540
	// to add space between slides
	/* the slides */
	.layout3spaltig_buehne.slick-slide {
		margin: unset !important;
	}
	/* the parent */
	.layout3spaltig_buehne.slick-list {
		margin: unset !important;
	}
}

@media only screen and (max-width: 400px) {
	.slick-custom-dots-light {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
	
		li {
			margin: 0 8px;
		}

		li.slick-active button {
			background-color: $orange;
		}

		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			cursor: pointer;

			border: none;
			border-radius: 100%;
			background-color: white;

			text-indent: -9999px;
		}
	}

	.slick-custom-dots-dark {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
	
		li {
			margin: 0 8px;
		}
	
		li.slick-active button {
			background-color: $orange;
		}
	
		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			cursor: pointer;
	
			border: none;
			border-radius: 100%;
			background-color: $black;
	
			text-indent: -9999px;
		}
	}

	.layoutblack .layout1spaltig_buehne_slider {
		.slick-prev, .slick-next {
			top: 90px;
		}

		.slick-prev {
			left: 5%;
		}
		
		.slick-next {
			right: 5%;
		}
	}
}
