// Customize Slick Slider (https://github.com/kenwheeler/slick/)

.slick-prev:before {
	content: '❬' !important;
}

.slick-next:before {
	content: '❭' !important;
}

.slick-prev:before, .slick-next:before {
	font-size: 54px !important;
}

.slick-prev {
	left: -60px !important;
}

.slick-next {
	right: -35px !important;
}

.slick-prev, .slick-next {
	top: calc(50% - 80px) !important;
}
