// Customize Slick Slider (https://github.com/kenwheeler/slick/)

.slick-custom-dots-light {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;

		li {
			margin: 0 10px;
		}

		li.slick-active button {
			background-color: $orange;
		}

		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			cursor: pointer;

			border: none;
			border-radius: 100%;
			background-color: white;

			text-indent: -9999px;
		}
}

.slick-custom-dots-dark {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	margin-top: 3em;

	li {
		margin: 0 10px;
	}

	li.slick-active button {
		background-color: $orange;
	}

	button {
		display: block;
		width: 10px;
		height: 10px;
		padding: 0;
		cursor: pointer;

		border: none;
		border-radius: 100%;
		background-color: $black;

		text-indent: -9999px;
	}
}

.teaserbox_videos {
	.slick-prev:before {
		content: url('../assets/desktop/slider-arrow-bwd.svg');
	}
	
	.slick-next:before {
		content: url('../assets/desktop/slider-arrow-fwd.svg');
	}
	
	.slick-prev:before, .slick-next:before {
		font-size: 54px !important;
	}
	
	.slick-prev {
		// viewport width minus picture size divided by 2 
		// then: align to the picture (2/3 margin to the left side) 
		left: calc((100vw - 920px) / 2 * 2/3);
	}
	
	.slick-next {
		right: calc((100vw - 920px) / 2 * 2/3);
	}
	
	.slick-prev, .slick-next {
		top: calc(50% - 80px);
		z-index: 4000;
		width: 40px;
	}	
}

// "Der Tag auf Radioeins"
.layoutbuehne_1_1_white, .teaserbox_videopage .layout1spaltig_buehne_slider {
	.slick-prev {
    left: 0;
	}

	.slick-next {
  	right: 19px; // equals the width of the arrow element
	}

	.slick-prev:before {
		content: url(../assets/desktop/ico-arrow-bwd.svg);
	}

	.slick-next:before {
		content: url(../assets/desktop/ico-arrow-ffwd.svg);
	}
}

.layoutbuehne_1_1_white {
	.slick-prev, .slick-next {
		top: 10.5%;
	}
}

.teaserbox_videopage .layout1spaltig_buehne_slider {
	.slick-prev, .slick-next {
		top: 33%;
	}
}

@media only screen and (max-width: 1024px) {
	.teaserbox_videos {
		.slick-prev {
			left: 1%;
		}
		
		.slick-next {
			right: 1%;
		}
	}
}

@media only screen and (max-width: 400px) {

	.slick-custom-dots-light {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
	
		li {
			margin: 0 8px;
		}

		li.slick-active button {
			background-color: $orange;
		}

		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			cursor: pointer;

			border: none;
			border-radius: 100%;
			background-color: white;

			text-indent: -9999px;
		}
	}


	.slick-custom-dots-dark {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		margin-top: 3em;
	
		li {
			margin: 0 8px;
		}
	
		li.slick-active button {
			background-color: $orange;
		}
	
		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			cursor: pointer;
	
			border: none;
			border-radius: 100%;
			background-color: $black;
	
			text-indent: -9999px;
		}
	}


	.teaserbox_videos {
		.slick-prev, .slick-next {
			top: calc(50% - 150px);
		}

		.slick-prev {
			left: 5%;
		}
		
		.slick-next {
			right: 5%;
		}

	}
}
