.query {
	display: none;
}

.js_input_reset {
	display: none;
}

// TODO: check if needed
.jsb_placeholder {
	float: right;
	display: none;
}

// TODO: check if transferable to all boxHeadlines; if yes: move to _layout.scss
.boxHeadline {
	@include interstate-light();
}


.manualteaserPicture > img {
	width: 100%;
}

.pictsrc {
	display: none;
}

.layoutgrey_wetter_short {
	display: none;
}

.medienIcon {
	display: none;
}

.layouttopteaser_textbild {
	position: relative;

	.manualteaserPicture:first-of-type img {
		max-height: 360px;
		object-fit: cover;
	}
}

.layouttopteaser_textbild > .boxhead {
	display: none;
}


.layoutprogrammbuehne {
	margin-top: 1em;

	.slick-track {
		margin-top: 2em;
	}

	// topics slide
	.slick-slide {
		display: grid !important;
		grid-template-columns: 1;
		margin-right: 3em;
	}
	.manualteaser {
		.vorschau, .zursendung {
			color: $orange;
		}
	}

	// grid container
	.slick-slide:not(.topics) {
		display: grid !important;
		grid-template: 
			'pic time'
			'pic program'
			'pic presenter'
			'pic vorschau'
			'pic .'
			'pic .';
		grid-column-gap: 1.5em;
		margin-right: 3em;
	}

	.manualteaser:not(.topics) {
		.manualteaserTitle {
			grid-area: program;
			margin: 0;
			line-height: 29px;
		}
	
		.moderatoren {
			grid-area: presenter;
			margin: 0;
		}
	
		.moderatorenPicture {
			grid-area: pic;
	
			img {
				float: right;
			}
		}
	
		.imgIconWrap {
			grid-area: time;
			font-size: 14px;
	
			.medienCounter {
				.today, .now {
					color: $orange;
				}
			}
		}
	
		.vorschau, .zursendung {
			grid-area: vorschau;
			color: $orange;
		}
	
		.iconContainer {
			// TODO needed?
			.onairicon {
				display: none;
			}
		}
	
		// TODO needed?
		.nachhoeren {
			display: none;
		}
	}
}


// Der Tag auf radioeins
.layoutbuehne_1_1_white {
	// TODO adjust 
	// width: column-width(6);
	.moderatorenSlider {
		width: 90%;
		position: relative;
		margin: 0 auto;
	}

	background-color: $lightgray;

	// TODO move into mixin?
	padding-top: 1.5em;
	padding-bottom: 3em;

	.layout6spaltig_weisse_buehne {
		display: flex !important;
		flex-direction: column;
	}

	.boxhead {
		width: column-width(6);
		position: relative;
		margin: 0 auto;

		.boxHeadline {
			@include interstate-light;
			font-size: 36px;
			text-transform: uppercase;
		}
	}

	.manualteaserTitle {
		font-size: 18px;
		// TODO check for better solution (justify-content doesn't work)
		max-width: 140px;
		line-height: 26px;
	}

	.manualteaserDateTime {
		order: -1;
		color: $orange;
		font-size: 14px;
		margin-bottom: 8px;
	}



}





.teaserbox_videos {
	background-color: #2a2a2a;
	color: white;

	width: 100%;
  position: relative;

	padding-top: 1.5em;
	padding-bottom: 3em;

	> * {
		width: column-width(6);
		position: relative;
		margin: 0 auto;
	}

	.boxHeadline {
		font-size: 36px;
		text-transform: uppercase;
	}

	.caption {
		text-align: left;
		margin: 1.2em 0 0.5em;

		.manualteaserTitle {
			display: inline;
		}

		.manualteaserSubTitle {
			margin-left: 4px;
			font-size: 1.5em;
			display: inline;
		}
	}

	.boxlinklist {
		padding-inline-start: 0;

		// button
		.manualteaserTitle {
			color: white;
			list-style: none;
			border: 1px solid white;
			border-radius: 4px;
			height: 40px;
			width: 152px;
			text-transform: uppercase;

			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			margin: auto;
		}
	}

	img {
		width: 100%;
	}
}


.teaserbox_music_container {
	background-color: $lightgray;
	width: 100%;
  position: relative;

	padding-top: 1.5em;
	padding-bottom: 3em;

	.teaserbox_music {
		width: column-width(6);
		position: relative;
		margin: 0 auto;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		> div {
			display: flex;
			flex-direction: column;
			width: 25%;

			> .manualteaserTitle, .manualteaserSubTitle {
				order: 2;
			}

			h2.manualteaserTitle {
				margin-block-end: 0;
				margin-block-start: 0;
			}

			h3.manualteaserSubTitle {
				margin-block-start: 0;
			}

		}

		.boxhead {
			flex: 0 0 100%;

			h2 {
				margin-block-end: 0;
			}
		}

		.boxHeadline {
			font-size: 36px;
			text-transform: uppercase;
		}

		.manualteaserTitle {
			font-size: 18px;
		}

		.manualteaserSubTitle {
			font-size: 18px;
			font-weight: lighter;
		}

		.manualteaserRoofLine {
			color: $orange;
			font-size: 14px;
			font-weight: lighter;
			margin-block-end: 0.4em;
		}

		.iconContainer {
			.timeicon {
				font-size: 14px;
				color: #72716e;

				span + span {
					margin-left: 5px;
				}
			}
			.rubrikenicon {
				display: none;
			}
		}
	}

	.boxlinklist {
		padding-inline-start: 0;

		// button
		.manualteaserTitle {
			color: white;
			background-color: $orange;
			list-style: none;
			border: 1px solid $orange;
			border-radius: 4px;
			height: 40px;
			width: 152px;
			text-transform: uppercase;

			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			margin: auto;
		}
	}
}

.teaserbox_highlights {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2em 0 3em;

	.boxhead {
		flex: 0 0 100%;
	}

	.boxHeadline {
		flex: 1 1 300px;
		text-transform: uppercase;
		font-size: 36px;
	}

	.timeicon {
		font-size: 14px;
		color: #72716e;
		
		span + span {
			margin-left: 5px;
		}
	}

	h2.manualteaserTitle {
		margin-block-end: 0;
		margin-block-start: 0.3em;
		line-height: 1.3em;
	}

	h3.manualteaserSubTitle {
		margin-block-start: 0;
		font-weight: lighter;
	}

	.layout2erReihe {
		margin-bottom: 1em;
		width: 48%;

		display: flex;
		flex-direction: column;

		.imgIconWrap {
			order: -1;
		}

		.manualteaserPicture > a > img {
			width: 100%;
			object-fit: cover;
			max-height: 245px;
		}

		h3.manualteaserRoofLine {
			margin-block-end: 0.7em;
			font-weight: lighter;
			color: $orange;
			order: -1;
			font-size: 14px;
		}
	}

	.layout3erReihe {
		width: 31%;

		display: flex;
		flex-direction: column;

		.imgIconWrap {
			order: -1;
		}

		.manualteaserPicture > a > img {
			width: 100%;
			object-fit: cover;
			max-height: 245px;
		}

		h3.manualteaserRoofLine {
			margin-block-end: 0.7em;
			font-weight: lighter;
			color: $orange;
			order: -1;
			font-size: 14px;
		}
	}
}

.radioeinsnewsletterbanner {
	color: #2a2a2a;
	background-color: $orange;

	position: relative;

	text-align: center;
	padding: 4em 0;

	.radioeinsnewslettercontainer {
		line-height: 44px;
	}

	.radioeinsnewslettericon {
		background: center no-repeat url('../assets/desktop/ico-newsletter.svg');
		display: inline-block;
		width: 120px;
		height: 63px;
		background-size: contain;
		margin-bottom: 22px;
	}

	.radioeinsnewsletterheadline {
		font-size: 32px;
		font-weight: bold;
	}

	.radioeinsnewsletterbody {
		color: white;
		font-size: 32px;
		margin: 0.1em auto 0.8em auto;
		max-width: 590px;
	}

	.radioeinsnewsletterbutton {
		padding: 13px 20px 11px;
		border-radius: 4px;
		background-color: white;
		font-size: 18px;
		text-transform: uppercase;
	}
}

.layoutdein_radioeins {
	color: white;
	background-color: $gray;
	padding: 2em 0 3em;

	position: relative;

	> * {
		width: column-width(6);
		position: relative;
		margin: 0 auto;
	}
}

.socialmediabuttons {
	background-color: $gray;
	color: white;

	> * {
		list-style: none;
		width: column-width(6);
		position: relative;
		margin: 0 auto;
	}
}

.layoutdein_radioeins {
	.boxHeadline {
		text-transform: uppercase;
	}

	.boxBody {
		display: flex;
		flex-direction: column;
		
		.boxRow {
			display: flex;
			flex-direction: row;
		}

		.boxRowItem {
			width: column-width(3);
			display: flex;
			flex-direction: row;
			margin-bottom: 2.5em;
			align-items: center;

			.socialIcon.facebook::after {
				content: url('../assets/desktop/ico-footer-fb.svg')
			}

			.socialIcon.podcast::after {
				content: url('../assets/desktop/ico-footer-podcast.svg')
			}

			.socialIcon.twitter::after {
				content: url('../assets/desktop/ico-footer-tw.svg')
			}

			.socialIcon.youtube::after {
				content: url('../assets/desktop/ico-footer-yt.svg')
			}

			.socialIcon.instagram::after {
				content: url('../assets/desktop/ico-footer-insta.svg')
			}

			.socialIcon.apps::after {
				content: url('../assets/desktop/ico-footer-apps.svg')
			}

			.boxRowItemBody {
				margin-left: 1em;
				margin-right: 1em;
			}

			.socialHeadline {
				text-transform: uppercase;
				color: $orange;
				font-weight: bold;
			}

			.socialBody {
				font-size: smaller;
			}
		}
	}
}
