.query {
	display: none;
}

.js_input_reset {
	display: none;
}

// TODO: check if needed
.jsb_placeholder {
	float: right;
	display: none;
}

.medienIcon {
	display: none;
}

.layoutprogrammbuehne {
	margin-top: 1em;

	.slick-track {
		margin-top: 2em;
	}

	// topics slide
	.slick-slide {
		display: grid !important;
		grid-template-columns: 1;
		margin-right: 3em;
	}
	.manualteaser {
		.vorschau, .zursendung {
			color: $orange;
		}
	}

	// grid container
	.slick-slide:not(.topics) {
		display: grid !important;
		grid-template-areas: 
			'pic time'
			'pic program'
			'pic presenter'
			'pic vorschau'
			'pic .'
			'pic .';
		grid-template-columns: 1fr 1fr;
		margin-right: 3em;
		grid-column-gap: 1em;
	}

	.manualteaser:not(.topics) {
		.manualteaserTitle {
			grid-area: program;
			margin: 0;
			line-height: 29px;
		}
	
		.moderatoren {
			grid-area: presenter;
			margin: 0;
		}
	
		.moderatorenPicture {
			grid-area: pic;
	
			img {
				float: right;
			}
		}
	
		.imgIconWrap {
			grid-area: time;
			font-size: 14px;
	
			.medienCounter {
				.today, .now {
					color: $orange;
				}
			}
		}
	
		.vorschau, .zursendung, .nachhoeren {
			grid-area: vorschau;
			color: $orange;
		}
	
		.iconContainer {
			// TODO needed?
			.onairicon {
				display: none;
			}
		}
	
	}
}

// Sliders

.layoutbuehne_1_1,
.layoutbuehne_1_1_white,
.layoutbuehne_1_1_gray,
.layoutbuehne_1_1_black {
	.moderatorenSlider > div {
		width: 90%;
		position: relative;
		margin: 0 auto;
	}

	// TODO move into mixin? resp. into layout file
	padding-top: 1.5em;
	padding-bottom: 3em;

	.layout6spaltig_weisse_buehne {
		display: flex !important;
		flex-direction: column;
	}

	.boxhead {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;

		.boxHeadline {
			@include interstate-light;
			font-size: 36px;
			text-transform: uppercase;
		}
	}

	.manualteaserTitle {
		font-size: 18px;
		// TODO check for better solution (justify-content doesn't work)
		// but this breaks other sections on the page (see podcast headings for example)
		max-width: 140px;
		line-height: 26px;
	}

	.manualteaserDateTime {
		order: -1;
		color: $orange;
		font-size: 14px;
		margin-bottom: 8px;
	}
}

.layout1spaltig_buehne_videoplayer, .layout1spaltig_buehne_slider {
	img {
		width: 100%;
	}

	> section > div, .boxhead {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
	}

	.boxHeadline {
		font-size: 36px;
		text-transform: uppercase;
	}

	.caption {
		text-align: left;
		margin: 1.2em 0 0.5em;

		.manualteaserTitle {
			display: inline;
		}

		.manualteaserSubTitle {
			margin-left: 4px;
			font-size: 1.5em;
			display: inline;
		}
	}
}

.layoutblack {
	.boxlinklist {
		list-style: none;
		padding: 30px 0 0;

		// button
		.manualteaserTitle {
			@extend .button;
			color: white;
			border: 2px solid #fff;
			border-radius: 4px;
			margin: 0 auto;
		}
	}
}


.doctypeteaser.intermediate.teaserbox:not(.layoutblack) {
	.manualteaserRoofLine {
		font-size: 14px;
		font-weight: 300;
	}

	.iconContainer {
		.timeicon {
			font-size: 14px;
			color: #72716e;

			span + span {
				margin-left: 5px;
			}
		}
		.rubrikenicon {
			display: none;
		}
	}

	h2.manualteaserTitle {
		margin-bottom: 6px;

		& + .manualteaserSubTitle {
			margin-top: 0
		}
	}

	.boxlinklist {
		padding: 0;
		list-style: none;

		// button
		.manualteaserTitle {
			@extend .button;
			color: white !important;
			background-color: $orange;
			margin: 0 auto;
		}
	}
}

section.boxcontent {
	// .boxhead {
	// 	flex: 0 0 100%;
	// }

	// .boxHeadline {
	// 	flex: 1 1 300px;
	// 	text-transform: uppercase;
	// 	font-size: 36px;
	// }

	.timeicon {
		font-size: 14px;
		color: #72716e;
		
		span + span {
			margin-left: 5px;
		}
	}

	h2.manualteaserTitle {
		margin-block-end: 0;
		margin-block-start: 0.3em;
		line-height: 1.3em;
	}

	h3.manualteaserSubTitle {
		margin-block-start: 0;
		font-weight: lighter;
	}

	.layout2erReihe {
		width: 48%;

		display: flex;
		flex-direction: column;

		.imgIconWrap {
			order: -1;
		}

		.manualteaserPicture > a > img {
			width: 100%;
			object-fit: cover;
			max-height: 245px;
		}

		h3.manualteaserRoofLine {
			margin-block-end: 0.7em;
			font-weight: lighter;
			color: $orange;
			order: -1;
			font-size: 14px;
		}
	}

	.layout3erReihe {
		width: 31%;

		display: flex;
		flex-direction: column;

		.imgIconWrap {
			order: -1;
		}

		.manualteaserPicture > a > img {
			width: 100%;
			object-fit: cover;
			max-height: 245px;
		}

		h3.manualteaserRoofLine {
			margin-block-end: 0.7em;
			font-weight: lighter;
			color: $orange;
			order: -1;
			font-size: 14px;
		}
	}
}

.radioeinsnewsletterbanner {
	color: #2a2a2a;
	background-color: $orange;

	position: relative;

	text-align: center;
	padding: 4em 0;

	.radioeinsnewslettercontainer {
		line-height: 44px;
	}

	.radioeinsnewslettericon {
		background: center no-repeat url('../assets/desktop/ico-newsletter.svg');
		display: inline-block;
		width: 120px;
		height: 63px;
		background-size: contain;
		margin-bottom: 22px;
	}

	.radioeinsnewsletterheadline {
		font-size: 32px;
		font-weight: bold;
	}

	.radioeinsnewsletterbody {
		color: white;
		font-size: 32px;
		margin: 0.1em auto 0.8em auto;
		max-width: 590px;
	}

	.radioeinsnewsletterbutton {
		@extend .button;
		@include interstate-light;
		background-color: white;
		font-size: 18px;
		margin: 0 auto;
	}
}

.layoutdein_radioeins {
	color: white;
	background-color: $gray;
	padding: 2em 0 3em;

	position: relative;

	> * {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
	}
}

.socialmediabuttons {
	background-color: $gray;
	color: white;

	> * {
		list-style: none;
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
	}
}

// TODO: move to layout.scss if section will be present on every page (not only on landingpage)
.layoutdein_radioeins.teaserbox {
	padding-bottom: 4em;

	.headerstatus {
		display: none;
	}

	.boxHeadline {
		text-transform: uppercase;
	}

	.boxBody {
		display: grid;
		grid-row-gap: 2.5em;		
		grid-column-gap: 2em;
		grid-template-columns: 1fr 1fr 1fr;

		.boxItem {
			display: grid;
			grid-template: 
				'socialIcon .'
				'socialIcon socialHeadline'
				'socialIcon socialBody';
			grid-template-columns: 1.3fr 3fr;

			.socialIcon {
				grid-area: socialIcon;
			}

			.boxItemBody {
				align-self: center;

				.socialHeadline {
					grid-area: socialHeadline;
					text-transform: uppercase;
					color: $orange;
					font-weight: bold;
				}
	
				.socialBody {
					grid-area: socialBody;
					font-size: smaller;
				}
			}		

			.socialIcon.facebook::after {
				content: url('../assets/desktop/ico-footer-fb.svg');
			}

			.socialIcon.podcast::after {
				content: url('../assets/desktop/ico-footer-podcast.svg');
			}

			.socialIcon.twitter::after {
				content: url('../assets/desktop/ico-footer-tw.svg');
			}

			.socialIcon.youtube::after {
				content: url('../assets/desktop/ico-footer-yt.svg');
			}

			.socialIcon.instagram::after {
				content: url('../assets/desktop/ico-footer-insta.svg');
			}

			.socialIcon.apps::after {
				content: url('../assets/desktop/ico-footer-apps.svg');
			}

			a {
				align-self: center;
			}
		}
	}
}