#containerRbb_subHead {
	background-color: $lightgray;
	height: 90px;
	padding-left: 10vw;
	padding-right: 10vw;
}

#headerimage {
	margin-top: 26px;
}

.query {
	display: none;
}

.js_input_reset {
	display: none;
}

// TODO: check if needed
.jsb_placeholder {
	float: right;
	display: none; 
}

.containerNavigationMain {
	display: flex;
	height: 80px;
	align-items: center;
	padding-left: 10vw;
	padding-right: 10vw;
}

.navigationMain {
	max-height: 80px;
}

.navigationMain > .level1 {
	list-style: none;
	padding-inline-start: 0;
	font-size: 28px;
	display: flex;
	flex-wrap: wrap;
	max-height: 80px;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.navigationMain > ul > li {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 35px;
	font-weight: bold;

  &.selected {
	  position: relative;
		color: $orange;

		// draw the white arrow head
		&::after {
			position: absolute;
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			background: white;
			margin-left: 50%;
			margin-top: 10px;
			transform: translateX(-50%) rotate(45deg);
			z-index: 10;
		}
	}

	[title^='Video'] {
		color: $orange;
		padding: 10px 18px;
		border-radius: 2px;
		border: 1px solid $orange;
		font-size: 20px;
	}

	[title^='Podcast'] {
		color: $orange;
		padding: 10px 18px;
		border-radius: 2px;
		border: 1px solid $orange;
		font-size: 20px;
	}

	[title^='Events'] {
		display: none;
	}

	[title^='Team'] {
		display: none;
	}
}

.livestream {
	display: flex;
}

.jetzt {
	text-transform: uppercase;
	font-weight: bold;
	background-color: $orange;
	color: white;
	border-radius: 2px;

	display: flex;
  align-items: center;
	justify-content: center;

	> a {
		color: white;
		padding: 12px 18px;
		font-size: 20px;
	}
}

.jetzt:before {
	// background: url('../../assets/facebook_black.svg');
}

.manualteaserPicture > img {
	width: 100%;
}


.pictsrc {
	display: none;
}

.layoutgrey_wetter_short {
	display: none;
}

.medienIcon {
	display: none;
}


.layouttopteaser_textbild > .boxhead {
	display: none;
}

.manualteaserPicture:first-of-type img {
	max-height: 360px;
}





.jetztplaylist > a {
	color: $orange;
	margin-left: 20px;
	font-size: 10px;
	line-height: 14px;
	white-space: nowrap;
}


.layoutdein_radioeins {
	background-color: $gray;
}

.socialmediabuttons {
	background-color: $gray;
}

.footer {
	background-color: $gray;
}