// TODO check if new classname is needed
// currently it's the same css as on startseite for .teaserbox_videos
// but layout is a bit different (other arrows) and therefore a bit of distinction is needed
.teaserbox_videopage {
	background-color: #2a2a2a;
	color: white;

	width: 100%;
  position: relative;

	padding-top: 1.5em;
	padding-bottom: 3em;

	> section > div, .boxhead {
		max-width: column-width(6);
		position: relative;
		margin: 0 auto;
	}

	.boxHeadline {
		font-size: 36px;
		text-transform: uppercase;
	}

	.caption {
		text-align: left;
		margin: 1.2em 0 0.5em;

		.manualteaserTitle {
			display: inline;
		}

		.manualteaserSubTitle {
			margin-left: 4px;
			font-size: 1.5em;
			display: inline;
		}
	}

	.boxlinklist {
		padding-inline-start: 0;

		// button
		.manualteaserTitle {
			color: white;
			list-style: none;
			border: 1px solid white;
			border-radius: 4px;
			height: 40px;
			width: 152px;
			text-transform: uppercase;

			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			margin: auto;
		}
	}

	img {
		width: 100%;
	}
}
