@import "../../node_modules/normalize.css/normalize.css";

@import 'colors';
@import 'layout';

// if you want to see if we overwrite some styles by accident, you can comment
// out the import
@import 'startseite';
@import 'sendungsseite';