@import "../../node_modules/normalize.css/normalize.css";

// TODO: check if needed
html {
	font-family: "InterstateLight";	
}

a {
	text-decoration: none;
	color: black;
}

// suppresses rbb nav style
// TODO: remove
#searchbox_result{
	visibility: hidden;
}