@import 'colors';

#containerRbb_subHead {
	background-color: $lightgray;
	height: 90px;
}

#headerimage {
	margin-left: 10vw;
	margin-top: 26px;
}

.query {
	display: none;
}

.js_input_reset {
	display: none;
}

// TODO: check if needed
.jsb_placeholder {
	float: right;
	display: none; 
}

.containerNavigationMain {
	display: flex;
	height: 80px;
  align-items: center;
}

.navigationMain > .level1 {
	list-style: none;
	padding-inline-start: 0;
	margin-left: 10vw;
	font-size: 22px;
	display: flex;
	flex-wrap: wrap;
}

.navigationMain > ul > li {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 35px;
	font-weight: bold;

	[title^='Video'] {
		color: $orange;
		padding: 10px 18px;
		border-radius: 2px;
		border: 1px solid $orange;
		font-size: 20px;
	}

	[title^='Events'] {
		display: none;
	}

	[title^='Team'] {
		display: none;
	}
}

.livestream {
	display: flex;
}

.jetzt {
	text-transform: uppercase;
	font-weight: bold;
	background-color: $orange;
	color: white;
	border-radius: 2px;

	display: flex;
  align-items: center;
	justify-content: center;

	> a {
		color: white;
		padding: 12px 18px;
		font-size: 20px;
	}
}

.jetzt:before {
	// content: url(https://www.radioeins.de/rad/grafik/icons/icon-liveuebertragung.png);
}

.manualteaserPicture > img {
	width: 100%;
}


.pictsrc {
	display: none;
}

.layoutgrey_wetter_short {
	display: none;
}

.medienIcon {
	display: none;
}







.jetztplaylist > a {
	color: $orange;
	margin-left: 20px;
	font-size: 10px;
	line-height: 14px;
}


.layoutdein_radioeins {
	background-color: $gray;
}

.socialmediabuttons {
	background-color: $gray;
}

.footer {
	background-color: $gray;
}