@import 'colors';

#containerRbb_subHead {
	background-color: $lightgray;
	height: 90px;
}

#headerimage {
	margin-left: 15vw;
	margin-top: 26px;
}

.query {
	display: none;
}

.js_input_reset {
	display: none;
}

// TODO: check if needed
.jsb_placeholder {
	float: right;
}

.containerNavigationMain {
	display: flex;
	height: 80px;
}

.navigationMain > .level1 {
	list-style: none;
}

.navigationMain > ul > li {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 1em;
	font-weight: bold;

	[title^='Video'] {
		color: $orange;
		padding: 0.8em 1.3em 0.8em 1.3em;
		border-radius: 2px;
		border: 1px solid $orange;
	}

	[title^='Events'] {
		display: none;
	}

	[title^='Team'] {
		display: none;
	}
}

.livestream {
	display: flex;
}

.jetzt {
	text-transform: uppercase;
	font-weight: bold;
	background-color: $orange;
	color: white;
	border-radius: 2px;
	> a {
		color: white;
	}
}


.pictsrc {
	display: none;
}

.layoutgrey_wetter_short {
	display: none;
}

.medienIcon {
	display: none;
}







.jetztplaylist > a {
	color: $orange;
}


.layoutdein_radioeins {
	background-color: $gray;
}

.socialmediabuttons {
	background-color: $gray;
}

.footer {
	background-color: $gray;
}